*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom,#00bfa5 15%, #dfebee 15%,#dfebee 85%);  
    scrollbar-color: rgba(245, 245, 245, 0.459) transparent;
}    

a{
    text-decoration: none;
}

i{
    color: rgb(173, 173, 173);
}

img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* LAYOUT */
.container{
    display: flex;
    position: relative;   
    width: 85%;
    background-color: white;
    height: 90%;
}

/* NAV-BAR LATERALE*/
aside{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    border-right: 1px solid rgb(173, 173, 173);
    z-index: 20;
}

.utente{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 76px;
    background-color: rgb(230, 230, 230);
}

.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.logo img{
    margin-right: 10px;
    width: 55px;
}

.icon{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

.icon i{
    padding: 0 10px;
    font-size: 25px;
    cursor: pointer;
}

.notice-section{
    display: flex;
    align-items: center;
    min-height: 85px;
    background: rgb(136, 222, 248);
    cursor: pointer;
}

.notice-section i{
    margin-left: 15px;
    padding: 15px 10px;
    font-size: 25px;
    background: #fff;
    border-radius: 50%;
    color: rgb(136, 222, 248);
}

.text-notice{
    padding-left: 5px;
}

.text-notice p:last-child{
    font-size: 12px;
    color: rgb(98, 98, 98);
    text-decoration: underline;
}

.search-section{
    text-align: center;
    background:rgb(245, 245, 245);
}

.container-search{
     background: #fff;
     margin: 10px;
}

.search-section input{
    width: 90%;
    padding: 5px 0 5px 20px;
    font-size: 12px;
    border: 1px solid #fff;
}

.search-section i{
    background: #fff;
}

.chat-section{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-utente{
    display: flex;
    position: relative;
    border-bottom: 1px solid rgb(245, 245, 245);

}

.chat-utente img{
    display: flex;
    align-items: center;
    margin: 10px;
    width: 55px;
    cursor: pointer;

}

.text-chatUtente{
    padding: 10px 0 0 5px;
    cursor: pointer;
}

.text-chatUtente p:last-child{
    font-size: 12px;
    color: rgb(98, 98, 98);
    max-width: 100px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.data-timing{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 12px;
    color: rgb(98, 98, 98);
    cursor: pointer;
}

/* TOP-BAR */
.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: rgb(230, 230, 230);
    opacity: 0.9;
    z-index: 10;
    height: 76px;
    padding-left: 36%;
}

.chat-open{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.chat-open img{
    width: 55px;
}

.text-chatAperta{
    padding-left: 5px;
}

.text-chatAperta p:last-child{
    font-size: 12px;
    color: rgb(98, 98, 98);
}

.icon-openChat{
    margin-right: 10px;
    flex-wrap: nowrap;
}

.icon-openChat i{
    padding: 0 10px;
    font-size: 25px;
    cursor: pointer;
}


/* PARTE DX */
main{
    display: flex;
    flex-direction: column;
    width: 70%;
    flex-basis: 65%;
    padding-top: 76px;
    background-image: url("../img/mine.png");
}


/* SECTION CHAT-BOX */
.chat-box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    max-height:100% ;
    overflow-y: auto;
}

.message-user{
    position: relative;
    min-width: 200px;
    max-width: 450px;
    margin: 20px 40px 5px 0;
    padding: 20px;
    border-radius: 15px;
    background-color:  #DCF8C6;
    word-break: break-all;
}
.message-recived{
    position: relative;
    align-self: flex-start;
    min-width: 200px;
    max-width: 450px;
    margin: 20px 0 5px 40px;
    padding: 20px;
    border-radius: 15px;
    background-color:  rgba(253, 253, 253, 0.945);
    word-break: break-all;
}

.chat{
    top: auto;
    bottom: 0;
}

/* SECTION WRITE MESSAGE */
.text-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height:76px;
    background: #ECE5DD;
}

.fa-smile,
.fa-microphone {
    font-size: 25px;
    color:  rgb(148, 148, 148);;
}

.text-area input{
    min-width: 80%;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
}